<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
        {% block stylesheet %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        {% endblock %} 
        
        <title>Portfolio - Jim Pronesti</title>
    </head>
<body>
    {% include '/Layout/header.html.twig' %}
    {% block content %}

    {% endblock %}
    {% include '/Layout/footer.html.twig' %}
</body>
</html> 
