<nav class="bg_nav h60px">

    <div class="nav-wrapper row">

        <ul id="nav-mobile" class="left hide-on-med-and-down offset-m1 col m5 lemonMilkLight fs25px">
            <li class="col m3 lh60px"><a href="#home">ACCUEIL</a></li>
            <li class="offset-m3 col m3 lh60px"><a href="#about">À PROPOS</a></li>
        </ul>

        <div class="w200px h200px br50pct bg_logo borderLogo brand-logo top-70px center brushScript">
            <a href="#" class=""><p class="jcCenter fs83px">P</p></a>
        </div>
        
        <ul id="nav-mobile" class="right hide-on-med-and-down offset-m1 col m5 lemonMilkLight fs25px">
            <li class="offset-m1 col m3 lh60px"><a href="#portfolio">PORTFOLIO</a></li>
            <li class="offset-m3 col m3 lh60px"><a href="#contact">CONTACT</a></li>
        </ul>

    </div>

   <!--      title="Icons made by Freepik from Flaticon (https://www.flaticon.com/) licensed by Creative Commons BY 3.0"
        title="Icons made by Gregor Cresnar from Flaticon (https://www.flaticon.com/) licensed by Creative Commons BY 3.0"
        title="Icons made by Smashicons from Flaticon (https://www.flaticon.com/) licensed by Creative Commons BY 3.0"
        title="Icons made by Freepik from Flaticon (https://www.flaticon.com/) licensed by Creative Commons BY 3.0" -->
</nav>